.jumbotron nav a{
    color: rgb(197, 169, 169);
    font-size: 40px;
    margin-left: 5vw;
    font-style: none;
}
.jumbotron{
    text-align: center;
    background-color: rgb(173, 172, 172);
}
.pizza-body{
    background-image: url("../img/pepperoni.png");
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    margin-top: -5vh;
}
span{
    color: rgb(234, 0, 255);
}
#order{
    background-color: rgba(5, 9, 253, 0.1);
}
.nd{
    text-align: center;
    font-size: 30px;
    background-color: rgb(50, 205, 184);
    padding: 5vh;
    display: none;
}
.form-control{
    width: 20vw;
    margin-left: 30vw;
}
#button-pressed{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 30px;
    background-color: rgb(136, 136, 136);
    padding: 5vh;
}
#button-pressed button{
    border-radius: 15px;
    color: rgb(0, 68, 255);
}
#contact-us{
    background-color: rgb(56, 166, 194);
    text-align: center;
}
#mce-FNAME, #mce-EMAIL {
    width: 50vw;
    text-align: left;
    border: 10px solid rgb(238, 19, 110);
    opacity: 0.3;
    margin-top: 1vh;

}
#mce-MMERGE3{
    width: 50vw;
    height: 40vh;
    text-align: left;
    opacity: 0.3;
    margin-top: 3vh;
}
#mc-embedded-subscribe{
    background-color: rgb(0, 153, 255);
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 30px;
}
#mc-embedded-subscribe:hover{
    background-color: rgb(0, 132, 255);
}